
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Calculadora</title>
    <style>
        input{width:70px; height:70px; padding:0px,0px,0px,0px; font-size:24px}
        #row2{height:142px}
        #col2{width:142px}
        #screen{width:354px; font-size:30px; text-align:right;}
    </style>
</head>
<body>
    <div>
        <h1 style="color:red">Calculadora mais complexa</h1>
        <!-- envia as escolhas do utiliza para o servidor -->
        <!-- esta linha de comentário é visível no 'cliente' -->
        @* mas esta não é... *@
        <form method="post">
            <table border="1" cellpadding="0" cellspacing="0">
                <tr>
                    <td colspan="5">
                        <input type="text" name="display" value="@ViewBag.Display" readonly id="screen" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="7" name="bt" />
                    </td>
                    <td>
                        <input type="submit" value="8" name="bt" />
                    </td>
                    <td>
                        <input type="submit" value="9" name="bt" />
                    </td>
                    <td>
                        <input type="submit" value=":" name="bt" />
                    </td>
                    <td>
                        <input type="submit" value="+/-" name="bt" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="4" name="bt" />
                    </td>
                    <td>
                        <input type="submit" value="5" name="bt" />
                    </td>
                    <td>
                        <input type="submit" value="6" name="bt" />
                    </td>
                    <td>
                        <input type="submit" value="x" name="bt" />
                    </td>
                    <td>
                        <input type="submit" value="C" name="bt" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="1" name="bt" />
                    </td>
                    <td>
                        <input type="submit" value="2" name="bt" />
                    </td>
                    <td>
                        <input type="submit" value="3" name="bt" />
                    </td>
                    <td>
                        <input type="submit" value="-" name="bt" />
                    </td>
                    <td rowspan="2">
                        <input type="submit" value="=" name="bt" id="row2" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="0" name="bt" id="col2"/>
                    </td>
                    <td>
                        <input type="submit" value="," name="bt" />
                    </td>
                    <td>
                        <input type="submit" value="+" name="bt" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
